.p1{
    background-color:#74ffba;
    color:#000000;
    padding:10px 15px 10px 15px;/*ระยะห่างขอบกับเนื้อหาด้านใน โดยนับจาก บน ขวา ล่าง ซ้าย*/
    margin-bottom: 0px;
    border:solid 10px #000000 /*solid,dotted,dashed*/;
    border-radius:5px;
}
.content{
    background-color:#befffa;
    
    padding:20px 30px 20px 30px;
    margin-left: 30px;
    margin-right: 30px;
}
